* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #6efdd4;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1bcfc9;
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(66, 56, 56);
}

main {
  margin-left: 320px;
  padding: 0 10px;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.foto img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 0 0 15px rgb(66, 56, 56);
}

nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  display: block;
  color: black;
}

nav a:hover {
  background: rgb(49, 142, 66);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

@media (max-width: 992px) {
  header {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: relative;
    justify-content: space-between;
    margin: 20px;

  }

  nav {
    border-top: none;
    border-bottom: 1px solid black;
  }

  .menu {
    border-left: 1px solid black;
  }

  .redes a {

    margin: 5px;
  }

  main {
    margin-left: 0;
    padding: 20px;
  }

}

@media (max-width: 552px) {

  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
  }

  .menu {
    border-left: none;
  }

  nav {
    border-left: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

/* INICIO */

.hero {
  display: grid;
  place-content: center;
  min-height: 100dvh;
}

.hero2 {
  box-shadow: 10px 10px 35px #52e6ba inset, -10px -10px 35px #52e6ba inset;
}

.imgCompu {
  width: 620px;
}

@media (max-width: 991px) {
  .hero {
    min-height: auto;
  }

  .hero2 {
    padding-bottom: 24px !important;
  }

  .imgCompu {
    width: 100%;
  }
}

.subtitulo {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
}

p {
  font-size: 30px;
}

.social {
  width: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}

.social:hover {
  transform: scale(1.1);
}




/* SLAIDER */

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 100s infinite linear;
  -webkit-animation: scroll 100s infinite linear;
  width: calc(500px * 14);
}

.slide {
  width: 500px;
}

.slide img {
  width: 100%;
  height: 300px;
}

@keyframes scroll {
  0% {
    -webkit-animation: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-animation: translateX(calc(-500px * 7));
    transform: translateX(calc(-500px * 7));
  }
}


/* FORMACION */
.formacion {
  display: grid;
  place-content: center;
}

/* PROYECTOS */
.proyectos {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  .proyectos {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }

}


.card-title {
  text-align: left;
  font-size: x-large;
}

.card-text {
  text-align: center;
  font-size: large;
}

.card-body {

  background-color: rgb(237, 240, 237);
}

.card-body>p>img {
  width: 30px;
  height: 30px;
}

/* CONTACTO */


.contacto {
  display: grid;
  place-items: center;
  margin-bottom: none;
}

.form {
  background-image: url("img/fondo-pinos.jpg");
  box-shadow: inset 10px 10px 25px rgb(138, 177, 133), inset -10px -10px 25px rgb(138, 177, 133);
  backdrop-filter: blur(5px);
}

.form-control {
  background-color: rgb(237, 240, 237);
}

.btnSubmit {
  margin-top: 20px;
  background-color: rgb(26, 136, 46);
  color: white;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  padding: 5px 10px;
  border: none;
}

.btnSubmit:hover {
  background-color: #1bcf36;
  color: black;
}

/* FOOTER */

.footer {
  background-color: rgb(128, 227, 146);
  width: 100%;
  font-size: medium;
  border-radius: 5px;
}

/* WHATSAPP */
.logwap {
  position: fixed;
  bottom: 30px;
  right: 10px;
}