* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #6efdd4;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1bcfc9;
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(66, 56, 56);
}

main {
  margin-left: 320px;
  padding: 0 20px;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.foto img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 0 0 15px rgb(66, 56, 56);
}

nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  display: block;
  color: black;
}

nav a:hover {
  background: #0d6efd;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

@media (max-width: 992px) {
  header {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: relative;
    justify-content: space-between;
    margin: 20px;

  }

  nav {
    border-top: none;
    border-bottom: 1px solid black;
  }

  .menu {
    border-left: 1px solid black;
  }

  .redes a {

    margin: 5px;
  }

  main {
    margin-left: 0;
    padding: 20px;
  }

}

@media (max-width: 552px) {

  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
  }

  .menu {
    border-left: none;
  }

  nav {
    border-left: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

/* INICIO */

.hero {
  display: grid;
  place-content: center;
  min-height: 100dvh;
}

.hero2 {
  box-shadow: 10px 10px 35px #52e6ba inset, -10px -10px 35px #52e6ba inset;
}

.imgCompu {
  width: 620px;
}

@media (max-width: 991px) {
  .hero {
    min-height: auto;
  }

  .hero2 {
    padding-bottom: 24px !important;
  }

  .imgCompu {
    width: 100%;
  }
}

.subtitulo {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
}

p {
  font-size: 30px;
}

.social {
  width: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}

.social:hover {
  transform: scale(1.1);
}


/* FORMACION */
.formacion {
  display: grid;
  place-content: center;
}


@media (min-width: 992px) and (max-width: 1380px) {
  .formacion {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .formacion div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .formacion {
    max-width: 500px;
    margin: auto;
  }
}

.descForm {
  font-size: 20px;
  border-top: 1px solid black;
  padding: 10px;
}

.card-body {
  background-color: #e5f9f3;
  height: 100%;
}


/* PROYECTOS */
.proyectos {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  .proyectos {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }

}



.contacto {
  display: grid;
  place-items: center;
  align-items: start;
  height: 100vh;
}


/* FOOTER */

.footer {
  width: 100%;
  font-size: medium;
  border-radius: 5px;
  place-self: end;
}

/* WHATSAPP */
.logwap {
  position: fixed;
  bottom: 15px;
  right: 10px;
}