* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #6efdd4;
}

header {
  background: #1bcfc9;
  width: 300px;
  height: 97vh;
  position: fixed;
  top: 0;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(66, 56, 56);
  z-index: 1;
}


.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.foto img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 0 0 15px rgb(66, 56, 56);
}

nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  display: block;
  color: black;
}

nav a:hover {
  background: #0d6efd;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav {
  margin-top: 20px;
  border-top: black 2px solid;
  padding: 20px;

}

ul {
  list-style: none;
  padding-left: 0;
}



/* INICIO */

.hero {
  display: grid;
  place-items: center;
  width: calc(100% - 330px);
  height: 90vh;
  margin-left: 320px;
  padding: 20px;
}

.subtitulo {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
}

p {
  font-size: 30px;
}

.social {
  width: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}

.social:hover {
  transform: scale(1.1);
}


/* FORMACION */
.formacion {
  display: grid;
  place-items: center;
  width: calc(100% - 320px);
  height: 90vh;
  margin-left: 320px;
  padding: 20px;
}